/*Universal Style*/
* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    box-sizing: border-box;
    margin: 0;
}

/*Nav Bar*/
nav {
    width: 100%;
    color: seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    min-height: 69px;
    background-color: black;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

li a {
    display: inline-block;
    padding: 10px 15px;
    color: seashell;
}

img {
    height: 50px;
    padding-left: 10px;
}

/*Banner*/
body {
    position: relative;
    top: 69px;
    background-color: black;
    opacity: 0.9;
}

.banner-container {
    display: flex;
    align-items: center;
    height: 700px;
    max-width: 1200px;
    justify-content: center;
    background-image: url("img-mission-background.jpg");
    margin: 0 auto;
    background-color: black;
}

.banner {
    width: 1200px;
    height: auto;
    padding: 20px;
    background-color: black;
}

main {
    max-width: 1000px;
    padding-top: 50px;
    margin: 0px auto;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    text-align: center;
}

/*Tea section*/
.tea1 {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
    flex-wrap: wrap;
}

.tea1 img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
    box-sizing: content-box;
}

.tea2 {
    display: flex;
    justify-content: center;
    margin: 20px 0px auto auto;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.tea2 img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
    box-sizing: content-box;
}

/*Locations*/
.locations-container {
    background-image: url("img-locations-background.jpg");
    min-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.locations-container h2 {
    width: 100%;
    align-self: flex-end;
    margin-bottom: 0;
    color: rgb(47, 47, 47);
}

.location-cards {
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: flex-start;
}

.location {
    width: 300px;
    max-height: 250px;
    margin: 20px 20px;
    padding: 30px 0px;
    text-align: center;
    line-height: 1.8;
    background-color: black;
    opacity: 1;
}


/*Contact*/
.contact {
    text-align: center;
    height: 200px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact h5 {
    font-size: 0.83em;
}

.contact p {
    font-size: 0.83em;
    font-weight: bold;
}

/*Footer*/
footer {
    margin: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 0.8em;
}
